body {

	background-color: #303035;
	color: white;
	padding: 0;
	
}

	/* Temporära klasser */
	
		.switch_vis {
			display: none;
			
		}

	/* Globala stiler */
	
		/* Titlar */
		
			.title {	
				font-size: 20pt;
				font-weight: bold;
				text-decoration: underline;
				
			}

		/* Boxar */
		
			.titleContainer {
				display: flex;
				flex-direction: row;
				justify-content: center;
				text-align: center;
				border: 5px solid #59767c;
				
			}
		
			.box_row_L {
				display: flex;
				flex-direction: row;
				border: 5px solid #59767c;
				padding: 10px;
				
			}
			
			.box_row {
				display: flex;
				flex-direction: row;
				border: 5px solid #59767c;
				justify-content: center;
				padding: 10px;
				
			}
			
			.box_row_R {
				display: flex;
				flex-direction: row;
				border: 5px solid #59767c;
				justify-content: flex-end;
				padding: 10px;
				
			}
			
			.box_column_L {
				display: flex;
				flex-direction: column;
				border: 5px solid #59767c;
				padding: 10px;
				
			}
			
			.box_column {
				display: flex;
				flex-direction: column;
				border: 5px solid #59767c;
				align-items: center;
				padding: 10px;
				
			}
			
			.box_column_R {
				display: flex;
				flex-direction: column;
				border: 5px solid #59767c;
				align-items: flex-end;
				padding: 10px;
				
			}
			
			.noBor {
				border: 0px;
				
			}
			
			.noPad {
				padding: 0px;
				
			}
			
			.botBor {
				border-left: 0px;
				border-right: 0px;
				border-top: 0px;
				border-bottom: 5px solid #59767c;
				margin-bottom: 10px;
				
			}
			
			.marLef50 {
				margin-left: 50px;
				
			}
			
			.marLef100 {
				margin-left: 100px;
				
			}
			
			.marLefAu {
				margin-left: auto;
				
			}
			
			.marRigAu {
				margin-right: auto;
				
			}
			
			.marUpAu {
				margin-top: auto;
				
			}
			
			.w5 {
				max-width: 5%;
				
			}
			
			.w10 {
				max-width: 10%;
				
			}
			
			.w15 {
				max-width: 15%;
				
			}
			
			.w20 {
				max-width: 20%;
				
			}
			
			.w25 {
				max-width: 25%;
				
			}
			
			.w30 {
				max-width: 30%;
				
			}
			
			.w35 {
				max-width: 35%;
				
			}
			
			.w40 {
				max-width: 40%;
				
			}
			
			.w45 {
				max-width: 45%;
				
			}
			
			.w50 {
				max-width: 50%;
				
			}
			
			.w55 {
				max-width: 55%;
				
			}
			
			.w60 {
				max-width: 60%;
				
			}
			
			.w65 {
				max-width: 65%;
				
			}
			
			.w70 {
				max-width: 70%;
				
			}
			
			.w75 {
				max-width: 75%;
				
			}
			
			.w80 {
				max-width: 80%;
				
			}
			
			.w85 {
				max-width: 85%;
				
			}
			
			.w90 {
				max-width: 90%;
				
			}
			
			.w95{
				max-width: 95%;
				
			}
			
			.w100 {
				max-width: 100%;
				
			}
			
			.mih700 {
				min-height: 700px;
			}
			
			.mih40 {
				min-height: 40px;
			}
			
			.mah200 {
				max-height: 200px;
			}
			
			.listContainer {	
				list-style-position: inside;
				list-style-type: decimal;
				
			}
			
			
		
		/* Listor */
		
		
			
		/*Popups */

		
		/* Bilder */
		
		
		/* Buttons */
		
		.button {
			display: flex;
			flex-direction: row;
			border: 5px solid #afa379;
			justify-content: center;
			padding: 10px;
			background-color: #464130;
			color: white;
			
		}
		
		.button:hover {
			cursor: pointer;
			text-decoration: underline;
			
		}
		
		.button_st {
			display: flex;
			flex-direction: row;
			border: 5px solid #afa379;
			justify-content: center;
			padding: 10px;
			background-color: #464130;
			font-size: 8pt;
			color: white;
			
		}
		
		.button_stH {
			display: none;
			flex-direction: row;
			border: 5px solid #afa379;
			justify-content: center;
			padding: 10px;
			background-color: #464130;
			font-size: 8pt;
			color: white;
			
		}
		
		.button_st:hover {
			cursor: pointer;
			text-decoration: underline;
			
		}
		
		.button_stH:hover {
			cursor: pointer;
			text-decoration: underline;
			
		}
	/* Undantag */
		
		
		.box_row_h {
				display: none;
				flex-direction: row;
				border: 5px solid #59767c;
				justify-content: center;
				padding: 10px;
				
		}
		
		.box_column_h {
				display: none;
				flex-direction: column;
				border: 5px solid #59767c;
				align-items: center;
				padding: 10px;
				
			}
		
		

		#ID_upgrades:hover {
				cursor: pointer;
				text-decoration: underline;
			
		}
		
		
		.abs_30 {
			position: absolute;
			height: 230px;
			width: 30px;
			background-image: url("metal.jpg");
			top: 330px;
			right: 350px;
		}
		
		.abs_50 {
			position: absolute;
			height: 230px;
			width: 50px;
			background-image: url("metal.jpg");
			top: 330px;
			right: 350px;
		}
		
		.abs_80 {
			position: absolute;
			height: 230px;
			width: 80px;
			background-image: url("metal.jpg");
			top: 330px;
			right: 350px;
		}
		
		.abs_100 {
			position: absolute;
			height: 230px;
			width: 100px;
			background-image: url("metal.jpg");
			top: 330px;
			right: 350px;
		}
		
		#ID_shellBody {
		    box-sizing: border-box;
		    width: 180px;
		    height: 50px;
		    position: absolute;
		    top: 415px;
		    left: 275px;
		    background-color: #9c9898;
		}
		
		.AP {
		  box-sizing: border-box;
		  width: 30px;
		  height: 50px;
		  position: absolute;
		  left: 180px;
		  border-radius: 0 30px 30px 0 / 0 18px 18px 0;
		  background-color: #9c9898;
		  z-index: 2;
		}
		
		.APC {
		  box-sizing: border-box;
		  width: 40px;
		  height: 50px;
		  position: absolute;
		  left: 180px;
		  border-radius: 0 30px 30px 0 / 0 10px 10px 0;
		  background-color: #6d6d6d;
		  z-index: 1;
		}
		
		.APBC {
		  box-sizing: border-box;
		  width: 60px;
		  height: 50px;
		  position: absolute;
		  left: 180px;
		  border-radius: 0 60px 60px 0 / 0 20px 20px 0;
		  background-color: white;
		  z-index: 0;
		}
		
		.APCR {
			position: absolute;
			width: 0;
			height: 0;
			left: 180px;
			border-bottom: 25px solid transparent;
			border-left: 50px solid #dfdfdf;
			border-top: 25px solid transparent;
		}
		

/* body {
	background-color: black;
	color: white;
	padding: 0;
}



.titleBox {
	margin: -4px;
}


[name^="styleTypeAbs"] {
	position: absolute;
	display: inline-block;
	border: 4px solid white;
	font-weight: normal;
	letter-spacing: 0.3px;
}

[name^="styleTypeRel"] {
	position: relative;
	display: inline-block;
	border: 4px solid white;
	width: 100%;
	text-align: center;
	font-weight: normal;
	letter-spacing: 0.3px;
}

[name^="styleTypeTitle"] {
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	letter-spacing: 0.3px;
}

[name^="styleTypeTitleS"] {
	position: relative;
	display: inline-block;
	font-size: 14pt;
	width: 100%;
	font-weight: bold;
	letter-spacing: 0.3px;
}

[name^="styleTypeListBox"] {
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 12pt;
	list-style-position: inside;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	font-weight: normal;
	letter-spacing: 0.3px;
}

[type^="radio"] {
	color: white;
}

[class^="exc"] {
	font-weight: normal;
	letter-spacing: normal;
}

#form {
	border: 4px solid white;
	max-width: 30%;
	padding: 8px;
	float: right;
	position: relative;
	top: 20px;
}
#version {
	font-size: 8pt;
	text-align: right;
	margin-right: 3px;
	margin-bottom: 1px;
}


#finansTitel {
	position: absolute;
	margin-top: 4px;
	border: 5px solid white;
	border-top: 0px;
	padding: 10px;
}

#medicinTitel {
	position: absolute;
	margin-top: 4px;
	border: 5px solid white;
	border-top: 0px;
	padding: 10px;
	left: 250px;
}
#type {
	float: right;
	margin-top: -19px;
	margin-right: 75px;
}

#button1 {
	margin-top: 4px;
	margin-bottom: 4px;
	width: 100%;
}

.clickInfo {
	border: 2px solid white;
}


[name=styleTypeTitleS] {
	margin: 0;
}

.prio {
	display: none;
}

.kategori {
	display: none;
}

.INPmoreInf {
	display: none;
}
.show {
	display: inline-block;
}

.hide {
	display: none;
} */
